body {
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family:Rubik Moonrocks', cursive;
}
#app{
height:800px;
width: 100%;
background-color: #42bcf5;
}
#chatbot{
    height: 800px;
    width:100%;
    background-color:#f57e42 ;
}
#game{
    height: 800px;
    width:100%;
    background-color: #daf542;
}
img:hover{
transform:scale(0.9);
}
img{
    width:400px;
    height: 400px;
    transition:transform 0.2s;
}